[run]
source = src
omit = src/**/__init__.py, src/tests/**, src/rushhour.py, src/services/view_manager.py, src/services/views/**, src/services/initialize.py, src/services/engine.py, src/services/main.py
