[run]
source = src
omit = src/**/__init__.py, src/rushhour.py, src/tests/**, src/data/**, src/resources/main.py, src/resources/initialize.py, src/resources/engine.py, src/resources/services/**, src/resources/ui/**, src/resources/logicunits/resolution_menu_logic.py